flows.txt
[{"id":"ae0064d3.473dd8","type":"http in","z":"b85e3a82.bc7028","name":"/time","url":"/time","method":"get","upload":false,"swaggerDoc":"","x":90,"y":300,"wires":[["72a5eab5.138814"]]},{"id":"2452d1d0.78146e","type":"http response","z":"b85e3a82.bc7028","name":"","statusCode":"200","headers":{},"x":580,"y":300,"wires":[]},{"id":"72a5eab5.138814","type":"function","z":"b85e3a82.bc7028","name":"","func":"var d = new Date();\nvar mins = d.getMinutes();\nvar hours = d.getHours();\n\nvar time=hours+\":\"+mins;\n\nmsg.payload=time;\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["1cd785d8.949b9a"]]},{"id":"1cd785d8.949b9a","type":"template","z":"b85e3a82.bc7028","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"{ \"time\": \"{{payload}}\" }","output":"str","x":330,"y":300,"wires":[["4bee7d79.888e64"]]},{"id":"3f2c58ff.4044c8","type":"http in","z":"b85e3a82.bc7028","name":"/random","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":95,"y":240,"wires":[["2ce481d4.06c47e"]]},{"id":"696f6af5.3b3344","type":"http response","z":"b85e3a82.bc7028","name":"","statusCode":"200","headers":{},"x":640,"y":240,"wires":[]},{"id":"4df3575c.1cc5a8","type":"template","z":"b85e3a82.bc7028","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"{ \"random\": \"{{payload}}\" }\n","output":"str","x":450,"y":120,"wires":[["696f8333.86277c"]]},{"id":"2ce481d4.06c47e","type":"random","z":"b85e3a82.bc7028","name":"","low":"1","high":"10","inte":"true","property":"payload","x":234,"y":241,"wires":[["32bb6c93.bbc88c"]]},{"id":"696f8333.86277c","type":"function","z":"b85e3a82.bc7028","name":"","func":"msg.headers={\"Content-Type\":\"application/json\"};\nconsole.log(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["696f6af5.3b3344"]]},{"id":"4bee7d79.888e64","type":"function","z":"b85e3a82.bc7028","name":"","func":"msg.headers={\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["2452d1d0.78146e"]]},{"id":"470edb57.b5841c","type":"http in","z":"b85e3a82.bc7028","name":"/page","url":"/page","method":"get","upload":false,"swaggerDoc":"","x":90,"y":360,"wires":[["a8374adc.ba8808"]]},{"id":"25cf61e9.3b78be","type":"http response","z":"b85e3a82.bc7028","name":"","statusCode":"200","headers":{},"x":580,"y":360,"wires":[]},{"id":"a8374adc.ba8808","type":"function","z":"b85e3a82.bc7028","name":"","func":"\nmsg.payload.lstReq = global.get(\"lstRequest\"); //ht a5r time\nmsg.payload.lstRandomVar = global.get(\"lastRandom\");\nmsg.payload.lstRandomRequested = global.get(\"lastRandomRequest\");\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[["48cc71b0.ce984"]]},{"id":"32bb6c93.bbc88c","type":"function","z":"b85e3a82.bc7028","name":"","func":"global.set(\"lastRandom\", msg.payload);\n\nvar d = new Date();\nvar mins = d.getMinutes();\nvar hours = d.getHours();\nvar time=hours+\":\"+mins;\n\nglobal.set(\"lastRandomRequest\", time);\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["4df3575c.1cc5a8"]]},{"id":"699696fd.2c6128","type":"template","z":"b85e3a82.bc7028","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{^payload.lstReq}}\nNo server time requests have been received\n{{/payload.lstReq}}\n{{#payload.lstReq}}\nTime last server time request received at {{payload.lstReq}}\n{{/payload.lstReq}}\n\n<br/ >\n{{^payload.lstRandomVar}}\nNo requests for random numbers have been received\n{{/payload.lstRandomVar}}\n{{#payload.lstRandomVar}}\nLast random number request returned {{payload.lstRandomVar}}, which was received at {{payload.lstRandomRequested}}\n{{/payload.lstRandomVar}}\n","output":"str","x":380,"y":380,"wires":[["25cf61e9.3b78be"]]},{"id":"48cc71b0.ce984","type":"function","z":"b85e3a82.bc7028","name":"","func":"var d = new Date();\nvar mins = d.getMinutes();\nvar hours = d.getHours();\nvar time = hours+\":\"+mins;\n\nglobal.set(\"lstRequest\", time); //Set time gdyd\nreturn msg;","outputs":1,"noerr":0,"x":268,"y":430,"wires":[["699696fd.2c6128"]]}]
